@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
h1{
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    display: flex;
    align-items:center;
    justify-content:center
}
a{
    text-decoration:none;
}
.icons{
    display: flex;
    align-items:center;
    justify-content:center;
}