@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
h1{
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    align-self:center;
}
a{
    text-decoration:none;
}
.icons{
    height:47px;
    width: 261px;
}
.icons .flex{
    justify-content:space-between;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 100%;
}
